
@{
    ViewBag.Title = "质量反馈单接收";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="showModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalTitle">质量反馈接收</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    @Html.Partial("FeedBackInfo")
                    <div id="panelAccept">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <label>选择问题接收人员</label>
                                    <select class="form-control" id="ddlReplyPerson"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <label>回退原因</label>
                                    <textarea id="tbxBackReason" rows="2" cols="30" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnBack" class="btn btn-danger">回退</button>
                <button type="button" id="btnAccept" class="btn btn-primary">接收</button>
            </div>
        </div>
    </div>
</div>
<div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title">质量反馈单接收</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        @Html.Partial("SearchInfo")
        <hr />
        <div class="row">
            <div class="col-md-12">
                <table id="bsTable"></table>
            </div>
        </div>
    </div>
</div>

<script>
    var operateEvents = {
        'click .btnInfoShow': function (e, value, row, index) {
            @Html.Partial("InfoShowPublicCode");
            if (row["FeedBackState"] != "审核通过") {
                $("#panelReply").hide();
            }
            else {
                $("#panelReply").show();
            }

            if (row["FeedBackState"] == "待接收" || row["FeedBackState"] == "回复回退") {
                $("#panelAccept,#btnBack,#btnAccept").show();
            }
            else {
                $("#panelAccept,#btnBack,#btnAccept").hide();
            }
            LoadReplyPerson();
        }
    };

    function operateFormatter(value, row, index) {
        return "<a class='btnInfoShow' href='javascript:void(0)'>" + value + "</a>";
    }

    var columns = [
        {
            checkbox: true
        },
        {
            title: '序号',
            formatter: function (value, row, index) {
                return index + 1;
            }
        },
        {
            field: 'ID',
            title: '数据ID',
            visible: false,//false表示不显示
        },
        {
            field: 'FeedbackTitle',
            title: '反馈单名称',
            events: operateEvents,
            formatter: operateFormatter
        },
        {
            field: 'SupplierName',
            title: '供应商名称',
            visible: true
        },
        {
            field: 'MaterialNum',
            title: '物资编码',
            visible: false
        },
        {
            field: 'ErpPlanNum',
            title: 'ERP计划预留号',
            visible: false
        },
        {
            field: 'ErpOrderNum',
            title: 'ERP订单号',
            visible: false
        },
        {
            field: 'MaterialQualityTypeName',
            title: '质量问题类别'
        },
        {
            field: 'DeptName',
            title: '提报部门'
        },
        {
            field: 'InputPersonName',
            title: '提报人',
            formatter: function (value, row, index) {
                var person = "<a href='#' data-toggle='tooltip' data-placement='top' title='联系方式：" + row["InputPersonPhone"] + '/' + row["InputPersonMobile"] + "'>" + value + "</a>";
                return person;
            }
        },
        {
            field: 'InputDateTime',
            title: '提报时间',
            formatter: function (value, row, index) {
                return getJsonDateTime(value)
            }
        },
        {
            field: 'AcceptPersonName',
            title: '接收人',
            visible: false
        },
        {
            field: 'AcceptDateTime',
            title: '接收时间',
            formatter: function (value, row, index) {
                return value == null ? "" : getJsonDateTime(value)
            },
            visible: false
        },
        {
            field: 'ReplyPersonName',
            title: '回复人'
        },
        {
            field: 'ReplyDateTime',
            title: '回复时间',
            formatter: function (value, row, index) {
                return value == null ? "" : getJsonDateTime(value);
            }
        },
        {
            field: 'CheckPersonName',
            title: '审核人',
            visible: false
        },
        {
            field: 'CheckDateTime',
            title: '审核时间',
            formatter: function (value, row, index) {
                return value == null ? "" : getJsonDateTime(value);
            },
            visible: false
        },
        {
            field: 'AppraiseBillState',
            title: '考核单状态',
            formatter: function (value, row, index) {
                return value == null ? "" : value;
            }
        },
        {
            field: 'FeedBackState',
            title: '反馈单状态',
            formatter: function (value, row, index) {
                if (row['FeedBackState'] == "待提交") {
                    return '<span class="label label-warning">' + value + '</span>';
                }
                if (row['FeedBackState'] == "待接收") {
                    return '<span class="label label-info">' + value + '</span>';
                }
                if (row['FeedBackState'] == "接收完成") {
                    return '<span class="label label-default">' + value + '</span>';
                }
                if (row['FeedBackState'] == "接收回退") {
                    return '<span class="label label-danger">' + value + '</span>';
                }
                if (row['FeedBackState'] == "回复完毕") {
                    return '<span class="label label-primary">' + value + '</span>';
                }
                if (row['FeedBackState'] == "回复回退") {
                    return '<span class="label label-danger">' + value + '</span>';
                }
                if (row['FeedBackState'] == "审核通过") {
                    return '<span class="label label-success">' + value + '</span>';
                }
                if (row['FeedBackState'] == "审核回退") {
                    return '<span class="label label-danger">' + value + '</span>';
                }
                return value;
            }
        }];

    //初始化BS-Table
    $('#bsTable').bootstrapTable({
        url: '/MaterialQualityFeedback/GetList',         //请求后台的URL（*）
        contentType: 'application/x-www-form-urlencoded',
        method: 'post',                     //请求方式（*）
        toolbar: '#toolbar',                //工具按钮用哪个容器
        striped: true,                      //是否显示行间隔色
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        sortable: false,                     //是否启用排序
        sortOrder: "asc",                   //排序方式
        queryParams: queryParams,           //传递参数（*）
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        pageNumber: 1,                       //初始化加载第一页，默认第一页
        pageSize: 10,                       //每页的记录行数（*）
        pageList: [5, 10, 15, 20],        //可供选择的每页的行数（*）
        search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
        strictSearch: true,
        showColumns: true,                  //是否显示所有的列
        showRefresh: true,                  //是否显示刷新按钮
        minimumCountColumns: 2,             //最少允许的列数
        clickToSelect: false,                //是否启用点击选中行
        //height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
        uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
        showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
        cardView: false,                    //是否显示详细视图
        detailView: false,                   //是否显示父子表
        paginationPreText: "上一页",
        paginationNextText: "下一页",
        showExport: false,                     //是否显示导出
        columns: columns
    })
        .on('all.bs.table', function (e, name, args) {
            $('[data-toggle="tooltip"]').tooltip();
        });

    //加载问题接收人员
    function LoadReplyPerson() {
        $.post("/MaterialQualityFeedback/GetReplyPerson", "", function (result) {
            var list = "";
            $.each(result, function (indexInArray, valueOfElement) {
                list += "<option value='" + valueOfElement["UserID"] + "'>" + valueOfElement["UserName"] + "</option>";
            });
            $("#ddlReplyPerson").empty().append(list);
        });
    };

    $("#btnAccept").click(function () {
        var state = $("#lblFeedbackState").text();
        if (state == "待接收" || state == "回复回退") {
            Ewin.confirm({ message: "确定要接收吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    var replyPersonID = $("#ddlReplyPerson").val();
                    var feedBackID = $("#InfoID").text();

                    var args = {
                        "replyPersonID": replyPersonID,
                        "feedBackID": feedBackID
                    };
                    $.post("/MaterialQualityFeedback/AcceptOk", encodeURIComponent(JSON.stringify(args)), function (result) {
                        if (result == "ok") {
                            $("#showModal").modal("hide");
                            toastr.success("操作成功！", "提示");
                            $("#bsTable").bootstrapTable('refresh');
                        }
                        else {
                            $("#showModal").modal("hide");
                            toastr.error("系统错误，请联系5613877！", "提示");
                        }
                    });
                }
            });
        }
        else {
            toastr.warning("只有【待接收】或【回复回退】状态的反馈单可执行接收操作！", "提示");
        }
    });

    $("#btnBack").click(function () {
        var state = $("#lblFeedbackState").text();
        if (state == "待接收" || state == "回复回退") {
            var backReason = $("#tbxBackReason").val();
            if (backReason != "") {
                Ewin.confirm({ message: "确定要回退质量反馈单吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var backReason = $("#tbxBackReason").val();
                        var feedBackID = $("#InfoID").text();

                        var args = {
                            "backReason": backReason,
                            "feedBackID": feedBackID
                        };
                        $.post("/MaterialQualityFeedback/AcceptBack", encodeURIComponent(JSON.stringify(args)), function (result) {
                            if (result == "ok") {
                                $("#showModal").modal("hide");
                                toastr.success("操作成功！", "提示");
                                $("#bsTable").bootstrapTable('refresh');
                            }
                            else {
                                $("#showModal").modal("hide");
                                toastr.error(result, "提示");
                            }
                        });
                    }
                });
            }
            else {
                toastr.error("回退原因必须填写！", "提示");
            }

        }
        else {
            toastr.warning("只有【待接收】或【回复回退】状态的反馈单可执行回退操作！", "提示");
        }
    });
</script>