<span id="InfoID" class="hidden"></span>
<div class="row">
    <div class="col-md-6">
        <label>反馈单名称:</label><span id="lblFeedbackTitle"></span>
    </div>
    <div class="col-md-6">
        <label>供应商：</label><span id="lblSupplierName"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label>ERP订单号：</label><span id="lblErpOrderNum"></span>
    </div>
    <div class="col-md-6">
        <label>ERP计划预留号/物资编码：</label><span id="lblMaterialNum"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label>
            提报：
        </label>
        <span id="lblDeptName"></span> |
        <span id="lblInputPerson"></span> |
        <span id="lblInputPersonPhone"></span> |
        <span id="lblInputDate"></span>
    </div>
    <div class="col-md-6">
        <label>问题类型 | 状态：</label><span id="lblFeedbackType"></span> | <span id="lblFeedbackState"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label>回复：</label>
        <span id="lblReplyPersonName"></span> |
        <span id="lblReplyDateTime"></span>
    </div>
    <div class="col-md-6">
        <label>审核：</label>
        <span id="lblCheckPersonName"></span> |
        <span id="lblCheckDateTime"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label>问题内容</label><a class="pull-right" href="#">查看审批过程</a>
        <div class="well well-sm" id="lblFeedbackContent"></div>
    </div>
</div>

<div class="row" id="panelReply">
    <div class="col-md-12">
        <label>回复内容</label>
        <div class="well well-sm" id="lblReplyContent"></div>
    </div>
</div>



