<span id="InfoID" class="hidden"></span>
<div class="row">
    <div class="col-md-6">
        <label>反馈单名称:</label><span id="lblFeedbackTitle"></span>
    </div>
    <div class="col-md-6">
        <label>供应商：</label><span id="lblSupplierName"></span>
    </div>
</div>
<div class="row">
    @*<div class="col-md-4">
            <label>物资编码：</label><span id="lblMaterialNum"></span>
        </div>
        <div class="col-md-4">
            <label>ERP计划预留号：</label><span id="lblErpPlanNum"></span>
        </div>
        <div class="col-md-4">
            <label>ERP订单号：</label><span id="lblErpOrderNum"></span>
        </div>*@
    <div class="col-md-6">
        <label>物资编码 | ERP计划预留号：</label><span id="lblMaterialNum"></span> | <span id="lblErpPlanNum"></span>
    </div>
    <div class="col-md-6">
        <label>ERP订单号：</label><span id="lblErpOrderNum"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label>
            提报：
        </label>
        <span id="lblDeptName"></span> |
        <span id="lblInputPerson"></span> |
        <span id="lblInputPersonPhone"></span> |
        <span id="lblInputDate"></span>
    </div>
    <div class="col-md-6">
        <label>问题类型 | 状态：</label><span id="lblFeedbackType"></span> | <span id="lblFeedbackState"></span>
    </div>
</div>
<div class="row hidden">
    <div class="col-md-6">
        <label>回复：</label>
        <span id="lblReplyPersonName"></span> |
        <span id="lblReplyDateTime"></span>
    </div>
    <div class="col-md-6">
        <label>审核：</label>
        <span id="lblCheckPersonName"></span> |
        <span id="lblCheckDateTime"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label>问题内容</label><a class="pull-right" id="btnLogInfo" href="#">查看审批过程</a>
        <div class="well well-sm" id="lblFeedbackContent"></div>
    </div>
</div>

<div class="row" id="panelReply">
    <div class="col-md-12">
        <label>回复内容</label>
        <div class="well well-sm" id="lblReplyContent"></div>
    </div>
</div>

<div class="row" id="logPanel">
    <div class="col-md-12">
        <table class="table table-condensed table-hover table-responsive">
            <thead>
                <tr class="bg-primary">
                    <th>操作内容</th>
                    <th>操作人</th>
                    <th>操作时间</th>
                    <th>回退原因</th>
                </tr>
            </thead>
            <tbody id="logTable"></tbody>
        </table>
    </div>
</div>
<script>
    $("#btnLogInfo").click(function () {
        $("#logPanel").toggle();
        var args = {
            "feedBackID": $("#InfoID").text()
        };
        $.post("/MaterialQualityFeedback/GetLogList", encodeURIComponent(JSON.stringify(args)), function (result) {
            var list = "";
            $.each(result, function (index, value) {
                var reason = value["LogReason"] == null ? "" : value["LogReason"];
                list += "<tr><td>" + value["LogContent"] + "</td><td>" + value["InputPersonName"] + "</td><td>" + getJsonDateTime(value["InputDateTime"]) + "</td><td>" + reason + "</td></tr>";
            });
            $("#logTable").empty().append(list);
        });
    });
</script>



