
@{
    ViewBag.Title = "物资质量反馈回复";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <form id="formInfo">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="modalTitle">物资质量反馈回复</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        @Html.Partial("FeedBackInfo")
                        <div id="replyContentInput">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal">
                                        <label for="editor">输入回复内容</label>
                                        <script id="editor" type="text/plain" style="height:100px;">
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal">
                                        <label>回退原因</label>
                                        <textarea id="tbxBackReason" rows="1" cols="30" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="panelAppraise" class="form-horizontal hidden">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>考核类型:</label>
                                    <label><input name="cbxAppraiseType" type="checkbox" value="质量" />质量</label>
                                    <label><input name="cbxAppraiseType" type="checkbox" value="合同" />合同</label>
                                    <label><input name="cbxAppraiseType" type="checkbox" value="服务" />服务</label>
                                    <label><input name="cbxAppraiseType" type="checkbox" value="价格响应" />价格响应</label>
                                    <label><input name="cbxAppraiseType" type="checkbox" value="诚信" />诚信</label>
                                    <label><input name="cbxAppraiseType" type="checkbox" value="其他" />其他</label>
                                </div>
                                <div class="col-md-6">
                                    <label>合同号或报价单或其他</label>
                                    <input id="tbxAppraiseNum" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>考核金额</label>
                                    <input id="tbxAppraiseMoney" class="form-control" type="text" />
                                </div>
                                <div class="col-md-6">
                                    <label>考核分数</label>
                                    <input id="tbxAppraiseMark" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>考核标准</label>
                                    <input id="tbxAppraiseStandard" class="form-control" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <a href="#" id="btnAppraiseLink" class="hidden">生成考核单链接</a>
                    <button type="button" id="btnAppraise" class="btn btn-success">生成考核单</button>
                    <button type="button" id="btnBack" class="btn btn-danger">回退</button>
                    <button type="button" id="btnReply" class="btn btn-primary">提交回复</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title">物资质量反馈回复</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        @Html.Partial("SearchInfo")
        <hr />
        <div class="row">
            <div class="col-md-12">
                <table id="bsTable"></table>
            </div>
        </div>
    </div>
</div>
<script src="~/ueditor.config.js"></script>
<script src="~/ueditor.all.min.js"></script>
<script>
    var ue = UE.getEditor('editor');

    var operateEvents = {
        'click .btnInfoShow': function (e, value, row, index) {
            $('#myModal').modal('show');
            $("#logPanel").hide();
            $("#modalTitle").text("质量反馈信息");
            $("#lblFeedbackTitle").text(row["FeedbackTitle"]);
            $("#lblSupplierName").text(row["SupplierName"]);
            $("#lblFeedbackType").text(row["MaterialQualityTypeName"]);
            $("#lblFeedbackState").text(row["FeedBackState"]);
            $("#lblErpOrderNum").text(row["ErpOrderNum"]);
            $("#lblErpPlanNum").text(row["ErpPlanNum"]);
            $("#lblMaterialNum").text(row["MaterialNum"]);
            $("#lblDeptName").text(row["DeptName"]);

            $("#lblInputPerson").text(row["InputPersonName"]);
            $("#lblInputPersonPhone").text(row["InputPersonPhone"] + '/' + row["InputPersonMobile"]);
            $("#lblInputDate").text(getJsonDateTime(row["InputDateTime"]));

            $("#lblReplyPersonName").text(row["ReplyPersonName"] == null ? "" : row["ReplyPersonName"]);
            $("#lblReplyDateTime").text(row["ReplyDateTime"] == null ? "" : getJsonDateTime(row["ReplyDateTime"]));

            $("#lblCheckPersonName").text(row["CheckPersonName"] == null ? "" : row["CheckPersonName"]);
            $("#lblCheckDateTime").text(row["CheckDateTime"] == null ? "" : getJsonDateTime(row["CheckDateTime"]));

            var args = { "id": row["ID"] };
            $.post("/MaterialQualityFeedback/GetContent", encodeURIComponent(JSON.stringify(args)), function (result) {
                $("#lblFeedbackContent").html(result["FeedbackContent"]);
                $("#lblReplyContent").html(result["ReplyContent"]);
            });

            if (row["FeedBackState"] == "接收完成" || row["FeedBackState"] == "审核回退") {
                $("#replyContentInput,#btnBack,#btnReply").show();
            }
            else {
                $("#replyContentInput,#btnBack,#btnReply").hide();
            }

            if (row["FeedBackState"] == "审核通过" || row["FeedBackState"] == "审核回退" || row["FeedBackState"] == "回复完毕") {
                $("#panelReply").show();
            }
            else {
                $("#panelReply").hide();
            }

            if (row["FeedBackState"] == "审核通过") {
                $("#btnAppraiseLink").attr("href", "/MaterialQualityFeedback/GetAppraiseBill?feedBackID=" + row["ID"]);
                $("#btnAppraise").show();
            }
            else {
                $("#btnAppraiseLink").attr("href", "#");
                $("#btnAppraise").hide();
            }

            $("#InfoID").text(row["ID"]);
        }
    };

    function operateFormatter(value, row, index) {
        return "<a class='btnInfoShow' href='javascript:void(0)'>" + value + "</a>";
    }

    var columns = [
        {
            checkbox: true
        },
        {
            title: '序号',
            formatter: function (value, row, index) {
                return index + 1;
            }
        },
        {
            field: 'ID',
            title: '数据ID',
            visible: false,//false表示不显示
        },
        {
            field: 'FeedbackTitle',
            title: '反馈单名称',
            events: operateEvents,
            formatter: operateFormatter
        },
        {
            field: 'SupplierName',
            title: '供应商名称',
            visible: true
        },
        {
            field: 'MaterialNum',
            title: '物资编码',
            visible: false
        },
        {
            field: 'ErpPlanNum',
            title: 'ERP计划预留号',
            visible: false
        },
        {
            field: 'ErpOrderNum',
            title: 'ERP订单号',
            visible: false
        },
        {
            field: 'MaterialQualityTypeName',
            title: '质量问题类别'
        },
        {
            field: 'DeptName',
            title: '提报部门'
        },
        {
            field: 'InputPersonName',
            title: '提报人',
            formatter: function (value, row, index) {
                var person = "<a href='#' data-toggle='tooltip' data-placement='top' title='联系方式：" + row["InputPersonPhone"] + '/' + row["InputPersonMobile"] + "'>" + value + "</a>";
                return person;
            }
        },
        {
            field: 'InputDateTime',
            title: '提报时间',
            formatter: function (value, row, index) {
                return getJsonDateTime(value)
            }
        },
        {
            field: 'AcceptPersonName',
            title: '接收人',
            visible: false
        },
        {
            field: 'AcceptDateTime',
            title: '接收时间',
            formatter: function (value, row, index) {
                return value == null ? "" : getJsonDateTime(value)
            },
            visible: false
        },
        {
            field: 'ReplyPersonName',
            title: '回复人'
        },
        {
            field: 'ReplyDateTime',
            title: '回复时间',
            formatter: function (value, row, index) {
                if (value != null) {
                    return getJsonDateTime(value);
                }
            }
        },
        {
            field: 'CheckPersonName',
            title: '审核人',
            visible: false
        },
        {
            field: 'CheckDateTime',
            title: '审核时间',
            formatter: function (value, row, index) {
                return value == null ? "" : getJsonDateTime(value);
            },
            visible: false
        },
        {
            field: 'AppraiseBillState',
            title: '考核单状态',
            formatter: function (value, row, index) {
                return value == null ? "" : value;
            }
        },
        {
            field: 'FeedBackState',
            title: '反馈单状态',
            formatter: function (value, row, index) {
                if (row['FeedBackState'] == "待提交") {
                    return '<span class="label label-warning">' + value + '</span>';
                }
                if (row['FeedBackState'] == "待接收") {
                    return '<span class="label label-info">' + value + '</span>';
                }
                if (row['FeedBackState'] == "接收完成") {
                    return '<span class="label label-default">' + value + '</span>';
                }
                if (row['FeedBackState'] == "接收回退") {
                    return '<span class="label label-danger">' + value + '</span>';
                }
                if (row['FeedBackState'] == "回复完毕") {
                    return '<span class="label label-primary">' + value + '</span>';
                }
                if (row['FeedBackState'] == "回复回退") {
                    return '<span class="label label-danger">' + value + '</span>';
                }
                if (row['FeedBackState'] == "审核通过") {
                    return '<span class="label label-success">' + value + '</span>';
                }
                if (row['FeedBackState'] == "审核回退") {
                    return '<span class="label label-danger">' + value + '</span>';
                }
                return value;
            }
        }];

    //初始化BS-Table
    $('#bsTable').bootstrapTable({
        url: '/MaterialQualityFeedback/GetList',         //请求后台的URL（*）
        contentType: 'application/x-www-form-urlencoded',
        method: 'post',                     //请求方式（*）
        toolbar: '#toolbar',                //工具按钮用哪个容器
        striped: true,                      //是否显示行间隔色
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        sortable: false,                     //是否启用排序
        sortOrder: "asc",                   //排序方式
        queryParams: queryParams,           //传递参数（*）
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        pageNumber: 1,                       //初始化加载第一页，默认第一页
        pageSize: 10,                       //每页的记录行数（*）
        pageList: [5, 10, 15, 20],        //可供选择的每页的行数（*）
        search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
        strictSearch: true,
        showColumns: true,                  //是否显示所有的列
        showRefresh: true,                  //是否显示刷新按钮
        minimumCountColumns: 2,             //最少允许的列数
        clickToSelect: false,                //是否启用点击选中行
        //height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
        uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
        showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
        cardView: false,                    //是否显示详细视图
        detailView: false,                   //是否显示父子表
        paginationPreText: "上一页",
        paginationNextText: "下一页",
        showExport: false,                     //是否显示导出
        columns: columns
    })
        .on('all.bs.table', function (e, name, args) {
            $('[data-toggle="tooltip"]').tooltip();
        });

    $("#btnReply").click(function () {
        var state = $("#lblFeedbackState").text();
        if (state == "接收完成" || state == "审核回退") {
            var contentCount = UE.getEditor("editor").getContentLength(true);//问题描述的内容长度
            if (contentCount > 0) {
                Ewin.confirm({ message: "确定要提交回复吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var replyContent = UE.getEditor("editor").getContent();
                        var feedBackID = $("#InfoID").text();

                        var args = {
                            "replyContent": replyContent,
                            "feedBackID": feedBackID
                        };
                        $.post("/MaterialQualityFeedback/ReplyOk", encodeURIComponent(JSON.stringify(args)), function (result) {
                            if (result == "ok") {
                                $("#myModal").modal("hide");
                                toastr.success("操作成功！", "提示");
                                $("#bsTable").bootstrapTable('refresh');
                            }
                            else {
                                $("#myModal").modal("hide");
                                toastr.error("系统错误，请联系5613877！", "提示");
                            }
                        });
                    }
                });
            }
            else {
                toastr.error("回复内容不能为空！", "提示");
            }
        }
        else {
            toastr.warning("只有【接收完成】或【审核回退】状态的反馈单可执行接收操作！", "提示");
        }

    });

    $("#btnBack").click(function () {
        var state = $("#lblFeedbackState").text();
        if (state == "接收完成" || state == "审核回退") {
            var backReason = $("#tbxBackReason").val();
            if (backReason != "") {
                Ewin.confirm({ message: "确定要回退质量反馈单吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {

                        var feedBackID = $("#InfoID").text();
                        var args = {
                            "backReason": backReason,
                            "feedBackID": feedBackID
                        };
                        $.post("/MaterialQualityFeedback/ReplyBack", encodeURIComponent(JSON.stringify(args)), function (result) {
                            if (result == "ok") {
                                $("#myModal").modal("hide");
                                toastr.success("操作成功！", "提示");
                                $("#bsTable").bootstrapTable('refresh');
                            }
                            else {
                                $("#myModal").modal("hide");
                                toastr.error("系统错误，请联系5613877！", "提示");
                            }
                        });
                    }
                });
            }
            else {
                toastr.error("回退原因必须填写！", "提示");
            }
        }
        else {
            toastr.warning("只有【待接收】或【回复回退】状态的反馈单可执行回退操作！", "提示");
        }
    });

    $("#btnAppraise").click(function () {
        Ewin.confirm({ message: "确定要生成考核单吗？" }).on(function (e) {
            if (!e) {
                return;
            }
            else {
                document.getElementById("btnAppraiseLink").click();
            }
        });
    });
</script>
